:root {
    font-family: sans-serif;   
}

h5 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

.dinfo {
    flex-basis: 512px;
    flex-shrink: 0;
}

.map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.map-area {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-area-districts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.map-district {
    width: 32px;
    flex-basis: 32px;
    height: 32px;
    text-align: center;
    background: #aaa;
    color: #fff;
    margin: 4px;
    font-size: 14px;
    line-height: 32px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.map-district.selected {
    outline: 2px solid #111;
}

.map-area-name {
    text-align: center;
}

.dinfo h3 {
    font-size: 24px;
    text-align: center;
    margin: 16px;
}

.dinfo-candidate {
    display: flex;

    & .name {
        flex-grow: 1;
    }

    & .party {
        width: 192px;
        margin: 0 8px;
    }

    & .votes {
        width: 64px;
    }
}

.dinfo h5 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.dinfo-list-votes {
    display: flex;
    
    & .party {
        flex-grow: 1;
        margin-right: 8px;
    }

    & .votes {
        width: 64px;
    }
}

.parliament-container {
    justify-self: end;
}

.parliament {
    overflow:hidden;
    position: relative;
    background: black;

    padding: 0;
    width: calc(var(--radius)*2); height: var(--radius);
    border-radius: calc(var(--radius)*2) calc(var(--radius)*2) 0 0 ;
    list-style: none;  
    
    
    .slice {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(var(--radius) * 2);
      height: var(--radius);
      
      transform: rotate(var(--off));
      transform-origin: bottom center;
    }

    .blocker {
      background: #fff;
      position: absolute;
      --size: calc(var(--radius) - 50px);
      
      width: calc(var(--size)*2);
      height: calc(var(--size)*2);
      border-radius: calc(var(--size)*2);
      top: calc(100% - var(--size));
      left: calc(50% - var(--size));

      text-align: center;
      line-height: calc(var(--size)*1.5);
      font-size: 24px;
    }
  }

button {
    border: 0;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
}
  
  .method-picker {
    button {
        background: transparent;        
    }
    button.active {
        background: #ddd;
    }
  }